
body {
	background-color: #f2f2f2;
	margin: 0;
	font-size: 16px;
}

.main_background{
	margin: 0;
}

#header, #header a{	
text-align: center;
color: white;
background-color: #3080f8;
font-family: "Times New Roman";
font-size: 2.5rem;
font-weight: bolder;
padding: 1px;
border: 0px solid;
text-decoration: none;
}

.heading{
	padding: 0.5rem;
	margin: 0;
}

.container{
	  width: 100%;
}

.mini-container{
	width: 80%;
	margin: auto;
	text-align: center;
	
	/* border: 2px solid white; */
}

.app_names{
	color: #3080f8;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
}

.image_box{
	margin: 2em; 
	width: 220px;
	height:220px;
	display: inline-block;
}

.images{
	width: 120px;
	height: 120px;
	border-radius: 100px;
}

#image_box0 .images{
	border: 3px solid #4CAF50;
}
#image_box1 .images{
	border: 3px solid #EE1D0A;
}
#image_box2 .images{
	border: 3px solid #d8970c;
}

#image_box0 .images:hover {
	box-shadow: 1px 1px 20px #4CAF50;
}
#image_box1 .images:hover {
	box-shadow: 1px 1px 20px #EE1D0A;
}
#image_box2 .images:hover {
	box-shadow: 1px 1px 20px #d8970c;
}

#image_box0 .app_names{
	color: #4CAF50;
}
#image_box1 .app_names{
	color: #EE1D0A;
}
#image_box2 .app_names{
	color: #d8970c;
}

#footer{
	background-color: #3080f8;
	color: white;
	text-align: center;  
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	position: fixed;
	/* width: 100%; */
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#footer a{
	color: white;
}

/* .comingsoon{
	position: relative;
	animation:slidefromright 6s;
	animation-timing-function: linear;
}

@keyframes slidefromright {
	from {left: 95%;}
	to {left: 45%;}
  } */
.comingsoon{
	width: 100%;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 3em;
	color: #4CAF50;
}
